<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styling/Style.css">

    <title>Football service</title>
</head>
<body>
<h1>This is a heading</h1></br>

<div>outputting data from football service : GroupCount</div>

<div>{{ result }}</div>
</body>
</html>